/*#487448*/
a { font-family: 'Noto Sans', sans-serif; }
a:hover { text-decoration: none; }
.no-bg { background: none; background-image: none; }
h2.title { color: #fff; }
.container > .inner > .span9 > div {  padding-top: 25px; }
.modal .form {
	margin-bottom: 0; 	
}
#header {
	width: 100%;
	height: 70px;
	background: #000;
}
#header .logo {
	height: 70px;
	float: left;	
}
#header .logo a {
	display: block;
	float: left;
	line-height: 70px;
	height: 70px;
	width: 260px;
	background: url( ../img/logo.png ) no-repeat top left;
	font-weight: 700;	
}
#header .contact {
	display: block;
	float: right;
	color: #fff;
	line-height: 70px;
	padding: 0 25px;
	font-size: 20px;	
}
#header .contact > span {
	display: block;
	float: left;
	height: 70px;
	width: 30px;
	line-height: 70px;
	/*color: 	#A3D900;*/
        color: #B8C3A8;
	font-size: 25px;
	margin-right: 10px;
}
#header .contact:hover {
	/*background: #A3D900;*/
        background: #B8C3A8;
	color: #333;	
}
#header .contact:hover > span { color: #333; }

/****************************************************
	CONTENT
****************************************************/
#content {
	width: 100%;	
}
#content .banners,
#content .banners .banner,
#content .banners .banner > a {
	display: block;
	height: 345px;
	width: 100%;
}
#content .inner .banners #banner_1 a {
	background: url( ../img/banners/banner1.png ) no-repeat bottom left;		
}
#content h3 {
	font-size: 22px;
	color: #333;	
}


/****************************************************
	PROGRAMAÇÃO MODAL
****************************************************/
#programacao_modal {
	width: 910px;
	margin-left: -470px;
	padding: 15px;
}
#programacao-table thead th { font-size: 12px; color: #333; }
#programacao-table tbody tr td {
	border-right: 1px solid #DDDDDD;
}
#programacao-table tbody tr td > div {
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border-bottom:1px solid #DDDDDD;
	width: 100%;
	float: left;
	position: relative;
}
#programacao-table tbody tr td.hour > div {
	/*color: #A3D900;*/
        color: #B8C3A8;
	font-weight: 700;	
}
#programacao-table tbody tr td > div.empty {
	background: #EFEFEF
}
#programacao-table tbody tr td > div.green {}
#programacao-table tbody tr td > div.red {}
#programacao-table tbody tr td > div.yellow {}
#programacao-table tbody tr td > div.blue {}
.alert-warning { background: #FCF8E3; color: #c09853; }
.alert-purple { background: #F7E6FF; color: #584183; }
.alert-light-blue { background: #CAF0F7; color: #419CAF; }
.alert-light-red { background: #F7E6FF; color: #584183; }
.alert-dark-purple { background: #DAC5E5; color: #C6ABD3; }
#programacao-table tbody tr td > div > span {
	display: block;
	float: left;
	border-right: 1px solid #DDDDDD;
	position: relative;
}
#programacao-table tbody tr td > div > span.first {
	width: 55%;
}
#programacao-table tbody tr td > div > span.second {
	width: 44%;
	border-right: 0;
}
#programacao-table tbody tr td > div .icon {
	font-size: 14px;
	position: absolute;
	top: 5px;
	left: 42%;
	
}
.alert-purple .icon {
	color: #D7C5E0;
}
/****************************************************
	NEVIGATION
****************************************************/
#navigation {
	width: 100%;
	height: 60px;
	background: #333;
	padding-top: 10px;
	z-index: 1;
	position: relative;
}
#navigation .navigation_offset {
	height: 60px;
	/*background: #A3D900;*/
        background: #000000;
}
#navigation ul {
	margin-bottom: 0;	
}
#navigation ul > li {
	display: inline-block;
	float: left;
	height: 60px;
}
#navigation ul > li a {
	display: block;
	float: left;
	font-size: 18px;
	color: #333;
	padding: 0 25px;
	line-height: 60px;	
}
#navigation ul > li a:hover {
	background: #0F0F0F;
	color: 	#fff;
}
#navigation ul > li.active a {
	/*background: #fff;*/
	color: #fff;	
        font-weight: 600;
}
#content #sidebar {
	position: relative;
	top: -60px;
	z-index: 100;
}

#content .sidebar {
	background: #333;
	padding: 0 15px 15px 15px;
	border-bottom: 10px solid #B8C3A8; /*#A3D900;*/
}
#content .sidebar h3 {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #B8C3A8; /*#A3D900;*/
	color: #fff;
	font-weight: 300;
	margin: 0 -15px;
	padding-left: 15px;
}
#content .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}
#content .sidebar ul li:not(.last) {
	padding: 2px 0;
	border-bottom: 1px dotted #666;	
}
#content .sidebar ul li a {
	display: block;
	line-height: 25px;
	font-size: 13px;
	color: #fff;
}
#content .sidebar ul li a:hover {
	color: #B8C3A8; /*#A3D900;*/
}




#content .tab-content h1 {
	font-size: 30px;
	color: #333;
	font-weight: 300;
}


#minicursos {
	margin-bottom: 15px;
}
#minicursos  ul.to_select  {
	width: 90%;
	height: 280px;
	border: 5px solid #F2F2F2;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	margin: 0 auto;
}
#minicursos  ul.to_select > li {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
}
#minicursos  ul.to_select > li > span,
#minicursos  ul.to_select > li > strong {
	display: block;	
}
#minicursos  ul.to_select > li:hover {
	background: #F2F2F2;
	cursor: pointer;	
}
#minicursos  ul.to_select > li.selected {
	
}


.minicursos_selected  ul  {
	width: 92%;
	border: 0;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	margin: 0 auto;
}
.minicursos_selected  ul > li {
	font-size: 12px;
	padding: 10px;
	background: #B8C3A8; /*#A3D900;*/
	color: #333;
	border: 5px solid #B8C3A8; /* #A3D900;*/
	border-bottom: 1px dotted #fff;
	border-top: 0;
}
.minicursos_selected  ul > li > span,
.minicursos_selected  ul > li > strong {
	display: block;	
}
.minicursos_selected  ul > li:hover {
	background: #333333;
	color: #fff;
	cursor: pointer;	
}
.minicursos_selected  ul > li.selected {
	
}











#footer {
	border-top: 10px solid #B8C3A8; /*#A3D900;*/
	background: #000;
	margin-top: 0px;/*atenção*/
}
#footer .logo {
	background: url( ../img/footer_logo.png ) no-repeat top left;
	height: 250px;	
}
#footer .logo > h2 {
	text-indent: -999em;
}
#footer .block h3 {
	font-size: 20px;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	line-height: 25px;
	border-bottom: 1px solid #666; 
	margin-top: 15px;
	font-weight: 300;
}
#footer .block ul { list-style: none; margin: 10px 0 0 0; padding: 0; }
#footer ul li { color: #fff; font-size: 13px; }
#footer ul li > strong { /*color: #A3D900; */
                        color: #B8C3A8; 
                          margin-right: 10px; }

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #9bc960;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#B8C3A8; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #9bc960;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:3px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #8B9B76) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#ffffff,3f7f00);

	background-color:#ffffff;
	border:0px solid #9bc960;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#0c0101;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#ffffff,3f7f00);

	background-color:#ffffff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}














