@charset "UTF-8";

 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-link:before { content: '🔗'; } /* '\1f517' */